<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true" internalLogLevel="Debug" internalLogToTrace="true">
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets async="true">
    <!-- Tcp日志target -->
    <target xsi:type="Network" name="simonlogs" keepConnection="false" address="tcp://192.168.31.78:8001">
      <layout xsi:type="JsonLayout">
        <attribute name="type" layout="simon" />
        <attribute name="date" layout="${longdate}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="callSite" layout="${callsite:className=true:methodName=true:skipFrames=1}" />
        <attribute name="message" layout="${message}" escapeUnicode="false" />
        <attribute name="exception" layout="${exception:format=toString,Data}" />
        <attribute name="fileName" layout="${callsite:fileName=true:includeSourcePath=true}" />
      </layout>
      <!--grok 规则-->
      <!--%#{DATA:request_time}#%{DATA:node_name}#%{DATA:class_name}#%{DATA:log_level}#%{DATA:call_site}#%{DATA:line_number}#%{DATA:request_url}#%{DATA:request_method}#%{DATA:container_name}#%{DATA:action_name}#%{DATA:log_info}#%{DATA:exception_msg}#-->
      <!--空白-->
    </target>
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <!--日志级别 Trace -》Debug-》 Info -》Warn-》 Error-》 Fatal-->
  <!--日志规则-->
  <rules>
    <!--全部日志, 包括Microsoft日志-->
    <logger name="*" minlevel="Trace" writeTo="simonlogs" />
  </rules>
</nlog>
